.form__container {
  display: flex;
  flex-direction: column;
}

.label {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.label:not(:last-of-type) {
  margin-bottom: 20px;
}

.input {
  margin-top: 10px;
  padding: 5px;

  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.button {
  margin-top: 20px;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;

  color: #fff;
  background-color: rgb(100, 150, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.03);
}
